extends ../layout.pug

block append content
    h1(class="display-5 text-center") Login
    br

    form(action="/login" method="post")
        .text-center
            br
            .md-form
                input(type="email" name="email" class="form-control validate" required)
                label(for="email" data-error="Invalid email") Enter your email
            
            br
            .md-form
                input(type="password" name="password" class="form-control" required)
                label(for="password") Enter your password
            
            br
            .md-form
                button(type="submit" class="btn btn-default") Login
            
            a(href="/signup") Sign up here!
